= simple_form_for @translation do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@translation.errors.count, "error")} prohibited this translation from being saved:"
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :papa
  .field
    = f.input :pontifice
  .field
    = f.input :active
  .field
    = f.input :allowed_first
  .actions
    = f.submit 'Save'
