%h1 Listing translations

%table
  %thead
    %tr
      %th Papa
      %th Pontifice
      %th Active
      %th
      %th
      %th

  %tbody
    - @translations.each do |translation|
      %tr
        %td= translation.papa
        %td= translation.pontifice
        %td= translation.active
        %td= link_to 'Show', translation
        %td= link_to 'Edit', edit_translation_path(translation)
        %td= link_to 'Destroy', translation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Translation', new_translation_path
