%h1 Papa; Pontífice

%table.table
  %thead
    %tr
      %th Papa
      %th Pontifice
      %th Active
      %th
      %th

  %tbody
    - @translations.each do |translation|
      %tr
        %td= translation.papa
        %td= translation.pontifice
        %td= boolean_icon translation.active
        %td= link_to 'Edit', edit_translation_path(translation), class: 'btn btn-xs'
        %td= link_to 'Destroy', translation, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'


= link_to 'New', new_translation_path, class: 'btn btn-success'

= link_to 'Back to home', root_path, class: 'btn'
