!!!
%html{lang: I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pontífices
    = jquery_include_tag :google
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag google_fonts_url('Lato')
    = csrf_meta_tags
  %body
    = yield
